.box{
	border: solid 1px #fff;
	text-align: center;
	padding-top: 35%;
	font-size: 30px;
	border-radius: 5px;
	color: #fff;
	text-shadow: 
	0 0 7px #fff,
	0 0 10px #fff,
	0 0 21px #fff,
	0 0 42px #bc13fe,
	0 0 82px #bc13fe,
	0 0 92px #bc13fe,
	0 0 102px #bc13fe,
	0 0 151px #bc13fe;
	box-shadow: 0 0 .2rem #fff,
				0 0 .2rem #fff,
				0 0 .2rem #bc13fe,
				0 0 0.8rem #bc13fe,
				inset 0 0 1.3rem #bc13fe;

}